.env
venv
__pycache__
app/__pycache__
app/api/__pycache__
app/core/__pycache__
app/models/__pycache__
app/schemas/__pycache__
app/main.pyc
app/main.pyo
app/main.pyd
app/main.pyw
app/main.pyz
app/main.pywz
